@use "variables";

.footer-bottom {
  background: variables.$second-color;
  width: 100%;
  min-height: 55px;

  .last_container {
    color: variables.$main-bg-color;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: clamp(12px, 2vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 16px;
  }
}
