@use "variables";

.Hottest_Plants {
  background: variables.$main-bg-color;
  width: 100%;

  .hottest-block {
    @include variables.content-container;
    height: 100%;

    .shop_all {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 19px;
      margin-bottom: 50px;
      border-bottom: 1px solid #000;
      padding-bottom: 32px;

      h2 {
        color: variables.$second-color;
        font-family: variables.$second-font;
        font-size: clamp(38px, 6vw, 56px);
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }

      span {
        color: variables.$first-color;
      }

      a {
        color: variables.$first-color;
        font-family: variables.$second-font;
        font-size: clamp(18px, 6vw, 30px);
        font-style: normal;
        font-weight: 400;
        line-height: 21.7px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    .cards_plants {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 282px), 1fr));
      gap: 24px 24px;
      padding-bottom: 100px;

      .inner_card {
        background: variables.$fourth-color;
        border-radius: 16px;
        box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
        padding: 2%;
        margin: 0 auto;

        .card1,
        .card2,
        .card3,
        .card4,
        .card5,
        .card6,
        .card7,
        .card8 {
          max-width: 80%;
          padding: 20px;

          img {
            min-width: 242px;
          }

          .name_plants {
            color: variables.$third-color;
            font-family: variables.$first-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 4px;
            margin-top: 1rem;
          }

          .price {
            color: variables.$third-color;
            font-family: variables.$first-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 1rem;
          }

          button {
            width: 130%;
            padding: 16px;
            background: variables.$second-color;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
            font-family: variables.$first-font;
            color: variables.$fourth-color;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }
}
