* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  line-height: normal;
}

header .top-block {
  background-color: #50806b;
}
header .top-block .top-box {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 45px;
  display: flex;
  justify-content: end;
  align-items: center;
}
header .top-block .top-box p,
header .top-block .top-box .paragraph-block {
  color: #ffffff;
  font-family: Open Sans;
  font-size: clamp(11px, 2vw, 16px);
  letter-spacing: 0.5px;
  cursor: pointer;
  gap: 23px;
}
header .top-block .top-box p {
  font-weight: 600;
  flex: 1 content;
  text-align: center;
  padding-left: 10%;
}
header .top-block .top-box .paragraph-block {
  display: flex;
  padding-right: 2%;
}
header .top-block .top-box .paragraph-block p:first-child {
  font-weight: 400;
}
header .top-block .top-box .paragraph-block p:last-child {
  font-weight: 700;
}

.bottom-block {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.bottom-block .bottom-box {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -0.6px;
  font-family: Open Sans;
}
.bottom-block .bottom-box .logo-block {
  font-size: clamp(18px, 2vw, 26px);
  font-weight: 600;
  color: #000000;
}
.bottom-block .bottom-box .logo-block span {
  color: #50806b;
}
.bottom-block .bottom-box nav {
  color: #000000;
  font-size: clamp(14px, 2vw, 17px);
  font-weight: 400;
}
.bottom-block .bottom-box nav ul {
  display: flex;
  justify-content: space-between;
  gap: clamp(1rem, 5vw, 6rem);
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 780px) {
  .bottom-block .bottom-box nav ul {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    position: absolute;
    left: 3%;
    top: 121%;
    z-index: 1;
  }
}
.bottom-block .bottom-box .right-block {
  display: flex;
  justify-content: space-between;
}
.bottom-block .bottom-box .right-block .search-block {
  display: flex;
  align-items: center;
}
.bottom-block .bottom-box .right-block .search-block input {
  border: none;
  max-width: 67px;
  color: #979797;
  font-size: clamp(14px, 1vw, 17px);
  font-weight: 400;
}
.bottom-block .bottom-box .right-block .search-block button {
  max-width: 22px;
  height: 22px;
  border: none;
  background: #ffffff;
  cursor: pointer;
}
.bottom-block .bottom-box .right-block .search-block::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: #979797;
  margin: 0 clamp(10px, 2vw, 26px);
}
.bottom-block .bottom-box .right-block .basket-block {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

main {
  height: 740px;
  background-color: #50806b;
  margin-bottom: 111px;
}
main .background {
  min-height: 690px;
  width: 100%;
  margin: 0;
  background-image: url("../media/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .background .text-block {
  max-width: min(55%, 570px);
  background: rgba(80, 128, 107, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-align: center;
  font-family: Poppins;
}
main .background .text-block h1 {
  font-size: clamp(42px, 10vw, 80px);
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 2.4px;
  margin-bottom: 50px;
  padding: 0 36px;
}
main .background .text-block p {
  max-width: min(90%, 420px);
  font-size: clamp(18px, 3vw, 22px);
  font-weight: 400;
  margin-bottom: 60px;
}
main .background .text-block button {
  padding: clamp(12px, 2vw, 24px) clamp(28px, 4vw, 56px);
  color: #000000;
  text-align: center;
  font-family: Open Sans;
  font-size: clamp(16px, 2vw, 22px);
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  border-radius: 20px;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.catagory {
  margin: 0 auto;
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
}
.catagory .title-catagory-block {
  height: 131px;
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
}
.catagory .title-catagory-block h2 {
  color: #000000;
  font-family: Poppins;
  font-size: clamp(38px, 5vw, 56px);
  font-weight: 600;
  line-height: 120%;
}
.catagory .title-catagory-block h2 span {
  color: #50806b;
}
.catagory .img-catagory-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
  gap: 22px 22px;
  margin-bottom: 149.5px;
  margin-top: 52px;
}
.catagory .img-catagory-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.catagory .img-catagory-block div h3 {
  color: #343434;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3.2px;
}

.selling {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
}
.selling .title-selling-block {
  height: 131px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.selling .title-selling-block h2 {
  color: #000000;
  font-family: Poppins;
  font-size: clamp(38px, 5vw, 56px);
  font-weight: 600;
  line-height: 120%;
}
.selling .title-selling-block h2 span {
  color: #50806b;
}
.selling .title-selling-block p {
  color: #000000;
  font-family: Poppins;
  font-size: clamp(18px, 5vw, 30px);
  font-weight: 400;
  line-height: 21.7px;
  text-transform: uppercase;
  cursor: pointer;
}
.selling .img-selling-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 384px), 1fr));
  gap: 24px 24px;
  margin-bottom: 149.5px;
  margin-top: 70px;
  padding: 0 14px;
}
.selling .img-selling-block div {
  max-width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  gap: 16px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  margin: auto;
}
.selling .img-selling-block div img {
  max-width: 329px;
  height: 100%;
}
.selling .img-selling-block div button {
  padding: 18px 116px;
  border-radius: 8px;
  background: #50806b;
  box-shadow: 2 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  border: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.Hottest_Plants {
  background: #e8edde;
  width: 100%;
}
.Hottest_Plants .hottest-block {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.Hottest_Plants .hottest-block .shop_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  margin-bottom: 50px;
  border-bottom: 1px solid #000;
  padding-bottom: 32px;
}
.Hottest_Plants .hottest-block .shop_all h2 {
  color: #50806b;
  font-family: Poppins;
  font-size: clamp(38px, 6vw, 56px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.Hottest_Plants .hottest-block .shop_all span {
  color: #000000;
}
.Hottest_Plants .hottest-block .shop_all a {
  color: #000000;
  font-family: Poppins;
  font-size: clamp(18px, 6vw, 30px);
  font-style: normal;
  font-weight: 400;
  line-height: 21.7px;
  text-transform: uppercase;
  text-decoration: none;
}
.Hottest_Plants .hottest-block .cards_plants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 282px), 1fr));
  gap: 24px 24px;
  padding-bottom: 100px;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  padding: 2%;
  margin: 0 auto;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card2,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card3,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card4,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card5,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card6,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card7,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card8 {
  max-width: 80%;
  padding: 20px;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 img,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card2 img,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card3 img,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card4 img,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card5 img,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card6 img,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card7 img,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card8 img {
  min-width: 242px;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 .name_plants,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card2 .name_plants,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card3 .name_plants,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card4 .name_plants,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card5 .name_plants,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card6 .name_plants,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card7 .name_plants,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card8 .name_plants {
  color: #343434;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
  margin-top: 1rem;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 .price,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card2 .price,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card3 .price,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card4 .price,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card5 .price,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card6 .price,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card7 .price,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card8 .price {
  color: #343434;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}
.Hottest_Plants .hottest-block .cards_plants .inner_card .card1 button,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card2 button,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card3 button,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card4 button,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card5 button,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card6 button,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card7 button,
.Hottest_Plants .hottest-block .cards_plants .inner_card .card8 button {
  width: 130%;
  padding: 16px;
  background: #50806b;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  font-family: Open Sans;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.Ferntastic_Deals {
  background: #ffffff;
  width: 100%;
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.Ferntastic_Deals .dealsName {
  border-bottom: 1px solid #000;
}
.Ferntastic_Deals .dealsName h2 {
  color: #50806b;
  font-family: Poppins;
  font-size: clamp(38px, 6vw, 56px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding-top: 80px;
  padding-bottom: 32px;
}
.Ferntastic_Deals .dealsName span {
  color: #000000;
}
.Ferntastic_Deals .aktion_plants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 282px), 1fr));
  gap: 24px 24px;
  padding-bottom: 147.5px;
  margin-top: 48px;
}
.Ferntastic_Deals .aktion_plants .inner_card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  padding: 2%;
  margin: 0 auto;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1,
.Ferntastic_Deals .aktion_plants .inner_card .aktion2,
.Ferntastic_Deals .aktion_plants .inner_card .aktion3,
.Ferntastic_Deals .aktion_plants .inner_card .aktion4 {
  max-width: 100%;
  padding: 20px;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 img,
.Ferntastic_Deals .aktion_plants .inner_card .aktion2 img,
.Ferntastic_Deals .aktion_plants .inner_card .aktion3 img,
.Ferntastic_Deals .aktion_plants .inner_card .aktion4 img {
  min-width: 242px;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 .name_plants,
.Ferntastic_Deals .aktion_plants .inner_card .aktion2 .name_plants,
.Ferntastic_Deals .aktion_plants .inner_card .aktion3 .name_plants,
.Ferntastic_Deals .aktion_plants .inner_card .aktion4 .name_plants {
  color: #343434;
  font-family: Open Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
  margin-top: 1rem;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 .price,
.Ferntastic_Deals .aktion_plants .inner_card .aktion2 .price,
.Ferntastic_Deals .aktion_plants .inner_card .aktion3 .price,
.Ferntastic_Deals .aktion_plants .inner_card .aktion4 .price {
  color: #343434;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 span,
.Ferntastic_Deals .aktion_plants .inner_card .aktion2 span,
.Ferntastic_Deals .aktion_plants .inner_card .aktion3 span,
.Ferntastic_Deals .aktion_plants .inner_card .aktion4 span {
  color: #d11f1f;
}
.Ferntastic_Deals .aktion_plants .inner_card .aktion1 button,
.Ferntastic_Deals .aktion_plants .inner_card .aktion2 button,
.Ferntastic_Deals .aktion_plants .inner_card .aktion3 button,
.Ferntastic_Deals .aktion_plants .inner_card .aktion4 button {
  width: 100%;
  padding: 16px;
  background: #50806b;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  font-family: Open Sans;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.Testimonials {
  background: #e8edde;
  width: 100%;
}
.Testimonials .testomonials-block {
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.Testimonials .testomonials-block .lastBox {
  padding-top: 83.5px;
}
.Testimonials .testomonials-block .lastBox h3 {
  text-align: center;
  color: #000000;
  font-family: Poppins;
  font-size: clamp(38px, 6vw, 56px);
  font-style: normal;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: -2.4px;
  padding-bottom: 15px;
}
.Testimonials .testomonials-block .lastBox p {
  text-align: center;
  color: #000000;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px;
  letter-spacing: 0.1px;
  margin-bottom: 26.5px;
}
.Testimonials .testomonials-block .comments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 340px), 1fr));
  gap: 30px 30px;
  padding: 0 25px 90px 25px;
  cursor: pointer;
}
.Testimonials .testomonials-block .comments .inner_card {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 24px 0px rgba(139, 167, 178, 0.16);
}
.Testimonials .testomonials-block .comments .inner_card .comment1,
.Testimonials .testomonials-block .comments .inner_card .comment2,
.Testimonials .testomonials-block .comments .inner_card .comment3 {
  padding: 32px 30px 26px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Testimonials .testomonials-block .comments .inner_card .comment1 img,
.Testimonials .testomonials-block .comments .inner_card .comment2 img,
.Testimonials .testomonials-block .comments .inner_card .comment3 img {
  min-width: 82px;
}
.Testimonials .testomonials-block .comments .inner_card .text {
  color: #1d293f;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}
.Testimonials .testomonials-block .comments .inner_card .firstName {
  color: #7c8087;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-top {
  background: #ffffff;
  width: 100%;
  max-width: min(90%, 1260px);
  padding: 0 15px;
  margin: 0 auto;
}
.footer-top .footer_menu {
  padding: 48px 80px;
  max-width: 1240px;
  cursor: pointer;
}
.footer-top .footer_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-top .footer_menu ul li {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.footer-top .footer_menu .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
  cursor: pointer;
}

.footer-bottom {
  background: #50806b;
  width: 100%;
  min-height: 55px;
}
.footer-bottom .last_container {
  color: #e8edde;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 16px;
}/*# sourceMappingURL=style.css.map */